* {
	text-decoration: none;
	margin: 0;
	padding: 0;
}
/* Применения стиля к абсолютно всему документу */
/* * {
	font-size: 20px;
} */

/* К тегу html можно обращаться для указания глобальных стилей */
html {
	background-color: #a4edbe;
	/* background-image: url('fon.png'); */
	/* background-repeat: */
	/* background: url('fon.png') no-repeat #ddeea5 center top; */
	/* background: url('fon.png') repeat-x #ddeea5 center top; */
	/* background: url('fon.png') repeat-y #ddeea5 left top; */
}

/* body {
	background-color: #a4edbe;
}
 */
/* h1 {color: red;} */

/* Обращение к идентификаторам идет через #  */
#header {color: red;}

#header_1 {color: green;}

/* h3 {color: blue} */

/* Обращение к классам идет через . (точку) */
/* .style {color: yellow} */
/* Если нужно подключить класс только для определенного тега, то перед точной указывается название тега */
h3.style {color: yellow}

p.style {background-color: blue}

/* p i.style {background-color: blue} */

/* Можно ссылаться на теги внутри других тегов */
p i {
	color: #ca5597;
}

/* Можно делать группировку разных стилей */
/* p.example, b {
	font-size: 30px;
	font-weight: bold; font-weight: bold - делает шрифт жирным
} */

/* Псевдокласс и псевдоэлементы ЧЕРЕЗ : задают стили для конкретного собылия*/
/* p#example:first-letter ПСЕВДОЭЛЕМЕНТ стили буду применяться к первой букве */
p#example:first-letter {
	color: red;
}

/* p#example:first-line первое предожение */
p#example:first-line {
	color: #e7943b;
}

/* Псевдоклассы для ссылки */
.href {
	color: #5f1a1a;
	/* text-decoration: none; */
}

/* hover - псевдокласс, когда меняет цвет ссылки при наведении*/
.href:hover {
	color: #1d5e19;
	/* text-decoration: none; */
}

p:hover {background-color: red}
p:active {background-color: green}

/* visited - псевдокласс для ссылок, когда меняет цвет ссылки если пользователь переходил по ссылке*/
.href:visited {
	color: #e32c8a;
}

#textStyles:hover {
	background-color: #ddeea5;
}

/* text-indent - это абзацный отступ. Каждая первая строка будет отступать за задонный интервал */
p {
	text-indent: 1.1em;
}

#textStyles {
	/* font-size: 16px; */
	/* font-size: 100%; */
	font-size: 1.1em;
	/* font-weight: bold; */
	font-weight: normal;
	/* font-family - семейство шрифтов */
	/* font-family: fantasy; */
	/* font-family: Comic Sans MS; */
	/* Можно указать несколько шрифтов через запятую, на случай если на машине пользователя не будет первого шрифта */
	/* sans-serif - будет автоматически подбираться шрифт из того что есть, максимально похожий на исходный */
	font-family: Comic Sans MS, sans-serif;
	/* text-decoration:  */
	/* text-align: right; */
	/* text-align: justify; */ /* текст выравнивается по ширине */
	text-align: left;
	/* text-transform - меняет буквы на заглавные и наоборот */
	/* text-transform: capitalize; */ /* capitalize - каждая первая буква в словах абзаца будет с заглавной буквы */
	/* text-transform: uppercase; */
	/* text-transform: lowercase; */
	text-transform: none;
	/* word-spacing: 10px; */
	letter-spacing: 10px;
	/* line-height - интервал между строками */
	line-height: 220%;
	
}

/* #testBlock {
	/* border: 2px solid silver; 
	border: 2px dashed silver;
	/* border: 2px dotted silver; 
	height: 200px;
	width: 500px;
	background-color: #f7f7f7;
	margin: 10px;  /* Внешние отступы 
	padding: 10px;  /* Внутрениие отступы 
	border-radius: 50px;
} */

#testBlock {
	/* border: 2px solid silver; */
	/* border: 2px double silver; двойня линия*/
	/* border: 2px groove silver; */
	/* border: 2px ridge silver; бордер впуклый*/
	/* border: 2px dotted silver; бордер выпуклый*/
	/* border: 2px inset silver; /* блок вдавленный */	
	/* border: 2px outset silver; /* блок выпуклый */
	border: 2px dotted silver;	
	border-bottom: 2px dashed red;
	height: 400px;
	width: 500px;
	background-color: #f7f7f7;
	/*margin: 10px; /* Внешние отступы */
	margin: 19px 33px 16px 60px; 
	/* margin-top: 100px; */
	padding: 10px; /* Внутрениие отступы */
	border-radius: 15px;
	float: right;
/* 	position: relative;
	z-index: -10; */
	/* Материал урока 14: Новые стили в CSS3 */
	transform: rotate(180deg);
}

/* .borders {
		width: 0; height: 0;
		border: 100px solid;
		border-color: #FF5B45 #1D532A #6DCDF7 #FFE02E;
} */

/* #headBlock {
	/* width: 100%; 
	width: calc(100% - 20px);
	height: 50px;
	background-color: #fff;
	border-bottom: 2px solid silver;
	/* border-top: 2px solid silver; 
	padding: 10px;
	font-size: 1.2em;
	color: #333;
	font-family: Comic Sans MS;
} */
/* body {
	height: 3000px;
} */

header {
	width: calc(100% - 20px);
	height: 50px;
	background-color: #fff;
	border-bottom: 2px solid silver;
	padding: 10px;
	font-size: 1.2em;
	color: #333;
	font-family: Comic Sans MS;
	float: left;
}


article, aside {
	background-color: #fafafa;
	/* height: 400px; */
	min-height: 400px;
	border-radius: 5px;
	border: 1px solid silver;
	box-sizing: border-box;
	margin-top: 20px;
	float: left;
	overflow: auto;
	padding: 10px;
}

article {
	width: 60%;
	margin-left: 5%;
	margin-right: 5%;
	/* clear: right; */
	
}

aside {
	width: 25%;
	/* position: relative; */
	/* position: absolute; */
/* 	position: fixed;
	top: 30px;
	left: 100px; */
}

/* aside ul {
	/* width: 80%; 
	/* margin-left: 10%; 
	/* list-style-position: outside; 
	list-style-position: inside;
	/* list-style-type: armenian; 
	list-style-type: square;
} */

aside ol {
	list-style-position: inside;
	list-style-type: lower-alpha;
	list-style-image: url();
}

footer {
	width: calc(100% - 20px);
	height: 50px;
	margin-top: 20px;
	background-color: #fff;
	border-top: 2px solid silver;
	padding: 10px;
	font-size: 1.2em;
	color: #333;
	font-family: Comic Sans MS;
	float: left;
}

/* материал 11 урока приведен ниже; свойства display и overflow */
.spanBlock {
	display: block;
	/* display: none; */
	/* visibility: hidden; */
	/* display: inline; */
	/* display: list-item; */
	height: 50px;
	width: 100px;
	border: 1px solid red;
	/* overflow: visible; */
	/* overflow: hidden; */
	/* overflow: scroll; */
	overflow: auto; /* будут только те полосы прокрутки, которые необходимы */
}
